#root {
  color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
  background-color: rgb(43, 43, 43);
}

header {
  font-size: 20px;
  width: 250px;
  color: black;
}

p{
  width: 250px;
  font-size: 18px;
}

.GOTEps{
  padding: 1rem 2rem;
  background-color: silver;
}